.ticket-card {
    background-color: #7e7777b0; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 19px; 
    margin-bottom: 15px; 
    transition: transform 0.3s; 
}

.ticket-card:hover {
    transform: translateY(-2px); 
}

.ticket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

.ticket-title {
    flex: 1; /* Allow title to take the remaining space */
    font-size: 1rem; /* Adjust font size as needed */
    line-height: 1; /* Adjust line height for readability */
}

.ticket-priority {
    background-color: #855109; 
    padding: 8px 8px;
    border-radius: 4px;
    text-align: center; 
    width: 120px; 
    font-weight: 400;
}

.ticket-tags {
    margin: 8px 0;
}

.ticket-tag {
    background-color: hsl(64, 82%, 62%); 
    color: rgb(16, 5, 5);
    border-radius: 4px;
    padding: 2px 6px;
    margin-right: 5px;
    font-size: 0.8rem;
}


.read-more {
    color: #007BFF; /* Blue color for 'Read More' */
    cursor: pointer; /* Changes cursor to pointer on hover */
    margin-left: 5px; /* Adds space between the title and the 'Read More' link */
    font-weight: normal;
}

.read-more:hover {
    text-decoration: underline; /* Adds underline on hover for better UX */
}

.show-less {
    color: #FF5733; /* Red color for 'Show Less' */
    cursor: pointer; /* Changes cursor to pointer on hover */
    margin-left: 5px; /* Adds space between the title and the 'Show Less' link */
        font-weight: normal;

}

.show-less:hover {
    text-decoration: underline; /* Adds underline on hover for better UX */
}   
.ticket-meta {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #eee1e1;
}


.read-more{
    columns: blue;
}